/* plain CSS... I have a CSS in JS example here: https://github.com/benbowes/ae */

.alert {
  padding: 1rem;
  background: lavender;
  border-radius: 0.5rem;
}

.reload-button {
  background-color: #06f;
  border: 2px solid #06f;
  color: #fff;
  cursor: pointer;
  appearance: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  border-radius: 0.25rem;
}

.reload-button:focus,
.reload-button:hover {
  color: #171e29;
  background-color: white;
}

.reload-button:hover {
  color: #171e29;
  border-color: #3385ff;
}

.reload-button:active {
  background-color:royalblue;
  border-color: #3385ff;
  color: white;
}
