.reload-button {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  color: #fff;
  cursor: pointer;
  height: 48px;
  justify-content: center;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.reload-button:focus {
  color: #171e29;
}

.reload-button:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.reload-button:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}
